
@font-face {
  font-family: 'dreams';
  src: url(WhiteDream-Regular.otf);
}

@font-face {
  font-family: 'tempting';
  src: url(ImperialScript-Regular.ttf);
}

@font-face {
  font-family: 'tommy';
  src: url(Tommy-Light.otf);
}

@font-face {
  font-family: 'lemon';
  src: url(LEMONMILK-Light.otf);
}

@font-face {
  font-family: 'zain-light';
  src: url(Zain-Light.ttf);
}

@font-face {
  font-family: 'zain-bold';
  src: url(Zain-Bold.ttf);
}

*,
::before,
::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  width: 100vw;
  margin: 0;
  left: 0;
  right: 0;
  top: 0;
}

.no-scroll{ 
  overflow: hidden; 
}

hr{
  margin-top: 0;
  margin-bottom: 1rem;
  border: .8px solid #c7990d;
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 0;
}

.home-wrapper{
  background-image: url(bar-inside-1.jpg);
  background-size: cover;
  background-position: 70%;
  height: 100vh;
  width: 100vw;
}

:root {
  --menu-speed: 1s;
}

.menu-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0.8rem;
  left: 0.8rem;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0.8rem;
  left: 0.8rem;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1;
}

.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 3px;
  background: #f5f5f5;
  display: flex;
  align-items: center; 
  justify-content: center;
}

.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 3px;
  background: inherit;
}

.menu-wrap .hamburger > div::after {
  top: 10px;
}

.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  animation: fadeInAnimation 0.4s ease;
}

.menu-wrap .toggler ~ .menu > div {
  animation: fadeOutAnimation 1s ease;
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  animation: fadeInAnimation 1.2s ease;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
  padding: 0;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in;
}

.menu-wrap .menu > div {
  background: #582600;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div > div {
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
}

.menu-wrap .menu > div > div > ul {
  padding-top: 6rem;
  text-align: center;
}


.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #c7990d;
  font-size: 2.8rem;
  font-family: 'zain-bold';
  letter-spacing: 2px;
  padding: 0.5rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  text-align: center;
}

.nav-list{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin-top: 1.5rem;
  font-size: .7rem;
  line-height: 20px;
  font-family: 'lemon';
  font-size: 13px;
  letter-spacing: 3px;
  color: #f5f5f5;
}

.nav-list li{
  display: inline-flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0 10vw;
  animation: fadeInAnimation ease 5s 1;
}

.hero-text{
  margin-top: 22vh;
}

.hero-small{
  display: flex;
  justify-content: center;
  margin: 0 2.5rem 0 0;
  font-family: 'dreams';
  font-weight: 400;
  font-size: 2rem;
  color: #f5f5f5;
  animation: fadeInAnimation ease 5s 1;
}

.hero{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -2rem 0 5rem 0;
  font-family: 'dreams';
  font-weight: 400;
  font-size: 9rem;
  color: #f5f5f5;
  animation: fadeInAnimation ease 5s 1;
}

.address{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  text-align-last: justify;
  color: #f5f5f5;
  font-size: 1.2rem;
  letter-spacing: .2rem;
  margin: 2rem;
  font-family: 'zain-light';
  animation: fadeInAnimation ease 5s 1;
}

.hours{
  display: flex;
  justify-content: space-evenly;
  color: #f5f5f5;
  font-size: 1.1rem;
  letter-spacing: .2rem;
  font-family: 'zain-light';
  animation: fadeInAnimation ease 5s 1;
}

.hours-bold{
  font-family: 'zain-light';
  font-size: 1.3rem;
  padding-left: 1.5rem;
}

.home-wrapper .hours{
  padding: 3rem;
  margin-bottom: 4rem;
}

.about-wrapper, .events-wrapper{
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #d2d2d2;
}

.about-text, .events-text{
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 100%;
  margin: 10%;
  background: rgba(255, 255, 255, 0.5);
  padding: 3% 6%;
  border-radius: 2px;
  text-align: justify;
  color: #272727;
  font-family: 'tommy';
  letter-spacing: .1rem;
  line-height: 2.4rem;
}

h3{
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: 'lemon';
  font-weight: 100;
  font-size: 2rem;
  line-height: normal;
  color: #272727;
}

.about-text a{
  color: #c7990d;
}

#bold-text{
  font-weight: bold;
  padding: 0 4px;
}

.about-text hr, .events-text hr{
  width: 25%;
}

.about-text .hr-short, .events-text .hr-short{
  width: 15%;
}

.about-text :nth-child(8){
  text-align: center;
}

.map-wrapper iframe{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  margin: 0;
  width: 100%;
}

a{
  color: #f5f5f5;
  text-decoration: none;
}

a:not(.unstyled-link):hover{
  opacity: .7;
  transition: ease-in-out 200ms;
}

a i:hover{
  opacity: .7;
  transition: ease-in-out 200ms;
}

a p:hover{
  opacity: .7;
  transition: ease-in-out 200ms;
}

.header-wrapper{
  background-image: url(bar-front-crop.jpg);
  background-position: 60%;
  background-size: cover;
}

.header-wrapper-container{
  height: 35vh;
}

.header-wrapper .logo-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logo-container .logo-small{
  margin-left: 4rem;
  font-family: 'dreams';
  font-weight: 400;
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  color: #f5f5f5;
  animation: fadeInAnimation ease 5s 1;
  position: relative;
  z-index: 3;
}

.logo-container .logo{
  margin: -1rem 0 1rem 0;
  font-family: 'dreams';
  font-weight: 400;
  font-size: 4rem;
  color: #f5f5f5;
  animation: fadeInAnimation ease 5s 1;
  position: relative;
  z-index: 3;
}

.header-wrapper .nav-list{
  margin-top: -1rem;
  width: 75%;
}

.header-wrapper nav li{
  justify-content: space-around;
  margin: 0 2rem;
}

.menu-wrapper{
  margin: 0;
  background-color: #f5f5f5;
}

.menu{
  border: 2px double #c7990d;
  margin: 2rem;
  padding: 2rem 0 1rem 0;
}

#cocktails hr{
  width: 140px;
}

#bites hr{
  width: 90px;
}

#drafts hr{
  width: 95px;
}

#bottles-and-cans hr{
  width: 310px;
}

.heading{
  display: flex;
  justify-content: center;
  margin: 1rem 0 0 0;
  font-size: 4.5rem;
  letter-spacing: .2rem;
  font-weight: 400;
  color: #c7990d;
  font-family: 'tempting';
  animation: fadeInAnimation ease 5s 1;
}

ul{
  padding-inline-start: 0px;
  color: #c7990d;
  animation: fadeInAnimation ease 5s 1;
}

.menu-wrapper .item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem;
}

.name{
  display: flex;
  justify-content: center;
  margin: 1rem 0 0.5rem 0;
  font-size: 1.5rem;
  font-family: 'lemon';
}

.details-container{
  display: flex;
}

.description {
  text-align: center;
  margin: 0 0 0.5rem 0;
  flex-grow: 1;
  font-size: 1.3rem;
  letter-spacing: 3px;
  font-family: 'zain-light';
}

.price {
  text-align: center;
  margin: 0 0 0.5rem 0;
  font-size: 1rem;
  font-family: 'zain-bold';
}

.menu:nth-child(3){
  display: flex;
  justify-content: space-around;
}

.text{
  display: flex;
  padding-left: 25px;
  font-size: 20px;
  color: #f5f5f5;
  font-family: 'zain-light';
}

.footer-wrapper{
  background-color: #d2d2d2;
}

.footer-text{
  display: grid;
  grid-column-start: 1fr;
  justify-content: center;
  align-content: center;
}

.footer-wrapper .logo-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-wrapper .logo-small{
  margin-top: 3rem;
  margin-right: 4rem;
  font-family: 'dreams';
  font-size: .8rem;
  letter-spacing: 0.2rem;
}

.footer-wrapper .logo{
  margin: -1rem 0 1rem 0;
  font-family: 'dreams';
  font-size: 4rem;
}

.footer-wrapper a, .footer-wrapper .hours, 
.footer-wrapper .logo, .footer-wrapper .logo-small, .phone{
  color: #272727;
  animation: fadeInAnimation ease 5s 1;
}

.footer-wrapper .address{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-wrapper .hours{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 2rem 2rem 2rem;
}

.footer-wrapper .hours p{
  margin: auto;
}

.contact{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-wrapper .social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.social-icons i{
  margin-right: 15px;
  margin-left: 15px;
}

.button-wrapper{
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

button{
  display: flex;
  align-content: center;
  background-color: #4a4a4a;
  border: none;
  border-radius: 4px;
  color: #f5f5f5;
  font-family: 'lemon';
  font-size: 1rem;
  padding: 1rem 3rem;
  cursor: pointer;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  10% {
    opacity: 0;
}
  100% {
      opacity: 1;
  }
}

@keyframes fadeOutAnimation {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

@media (max-width: 768px)  {

  .menu:nth-child(3){
    display: flex;
    flex-direction: column;
  }
  .nav-list{
    visibility: hidden;
  }
  #cocktails hr{
    width: 140px;
  }
  #bites hr{
    width: 90px;
  }
  #drafts hr{
    width: 95px;
  }
  #bottles-and-cans hr{
    max-width: 70%;
  }
  button{
    padding: 1rem 2rem;
  }
}

@media (max-width: 640px)  {
  .hero-small{
    font-size: 1.6rem;
  }
  .hero{
    font-size: 7rem;
  }
  .hours{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hours p{
    margin: .1rem;
  }
  .name{
    font-size: 1.3rem;
  }
  .description{
    font-size: 1.1rem;
  }
  .price{
    font-size: 0.9rem;
  }
  .heading{
    font-size: 4.2rem;
  }
  h3{
    font-size: 1.5rem;
  }
}

@media (max-width: 420px)  {
  .hero-small{
    font-size: 1.3rem;
    padding-top: 0.8rem;
  }
  .hero{
    font-size: 6rem;
  }
  .home-wrapper .address{
    margin-bottom: 3rem;
  }
  hr{
    max-width: 30%;
  }
  .about-text .hr-short, .events-text .hr-short{
    max-width: 7%;
  }
  .name{
    font-size: 1rem;
  }
  .description{
    font-size: 0.9rem;
  }
  .price{
    font-size: 0.7rem;
  }
  .heading{
    font-size: 3rem;
  }
  h3{
    font-size: 1.5rem;
  }
  .menu{
    margin: 2rem 1rem;
    padding: 1rem 0 1rem 0;
  }
}

@media (min-width: 768px)  {
  .menu-wrap{
    visibility: hidden;
  }
  .menu-wrap .menu > div {
    visibility: hidden;
  }
  .header-wrapper .logo-container{
    justify-content: left;
    padding-left: 5rem;
  }
  .header-wrapper-container{
    display: flex;
  }
}